<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">HOMEMADE</a></li>
            <li><a href="#">Join</a></li>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>