{{>header}}

    <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link">HomeMade</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Join</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Recipes</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Login</a></li>
        </ul>
    </div>
    <p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
        <div class="container">
    
            <form class="pure-form pure-form-aligned">
                <fieldset>
    
                    <div class="pure-control-group">
                        <label for="name">Username</label>
                        <input id="name" type="text" placeholder="Username">
                    </div>
    
                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Password">
                    </div>
    
                    <div class="pure-control-group">
                        <label for="email">Email Address</label>
                        <input id="email" type="email" placeholder="Email Address">
                    </div>
    
    
    
                    <div class="pure-controls">
    
    
                        <button type="submit" class="pure-button pure-button-primary" id="join">Join</button>
                        <p>Or login in <a href="/login">here</a></p>
                    </div>
                </fieldset>
            </form>
        </div>
    </p>