{{>header}}

<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">HomeMade</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Join</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Recipes</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Login</a></li>
    </ul>
</div>
<p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">

        <form class="login pure-form pure-form-aligned">
            <fieldset>

                <div class="pure-control-group">
                    <label for="name">Username</label>
                    <input id="name-input" type="text" placeholder="Username">
                </div>

                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password-input" type="password" placeholder="Password">
                </div>

                <div class="pure-control-group">
                    <label for="email">Email Address</label>
                    <input id="email-input" type="email" placeholder="Email Address">
                </div>



                <div class="pure-controls">


                    <!-- <a href="/login"> -->
                    <button type="submit" class="pure-button pure-button-primary login">Login</button>
                    <!-- </a> -->
                    <p>Or sign up <a href="/join">here</a></p>
                </div>
            </fieldset>
        </form>
    </div>
</p>